In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [2]:
capitals = pd.read_csv('data/capitals.csv')
countries = pd.read_csv('data/countries.csv')
movies = pd.read_csv('data/movies.csv')
conn = sql.connect('data/database.db')

In [3]:
capitals.to_sql('Capitals',conn,if_exists='replace',index=False)

In [4]:
countries.to_sql('Countries',conn,if_exists='replace',index=False)

C:\Users\Mourad Bouguerra\anaconda3\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [7]:
movies.to_sql('Movies',conn,if_exists='replace',index=False)

In [6]:
display(capitals.head(),countries.head(),movies.head())

                 Country              Capital
0               Abkhazia              Sukhumi
1            Afghanistan                Kabul
2  Akrotiri and Dhekelia  Episkopi Cantonment
3                Albania               Tirana
4                Algeria              Algiers

      Country     Country Code 2CHAR Country Code 3CHAR Continent
0     Afghanistan                 AF                AFG      Asia
1   Åland Islands                 AX                ALA    Europe
2         Albania                 AL                ALB    Europe
3         Algeria                 DZ                DZA    Africa
4  American Samoa                 AS                ASM   Oceania

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [9]:
conn = sql.connect('data/database.db')
cursor = conn.cursor()

In [12]:
sql_stmt = 'SELECT * FROM COUNTRIES WHERE Continent=="Africa"'
rows = cursor.execute(sql_stmt)
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

,Country,Country Code 2CHAR,Country Code 3CHAR,Continent
0,Algeria,DZ,DZA,Africa
1,Angola,AO,AGO,Africa
2,Benin,BJ,BEN,Africa
3,Botswana,BW,BWA,Africa
4,Burkina Faso,BF,BFA,Africa
5,Burundi,BI,BDI,Africa
6,Cameroon,CM,CMR,Africa
7,Cabo Verde,CV,CPV,Africa
8,Central African Republic,CF,CAF,Africa
9,Chad,TD,TCD,Africa
10,Comoros,KM,COM,Africa
11,Congo,CG,COG,Africa
12,Congo (Democratic Republic of the),CD,COD,Africa
13,Côte d'Ivoire,CI,CIV,Africa
14,Djibouti,DJ,DJI,Africa
15,Egypt,EG,EGY,Africa
16,Equatorial Guinea,GQ,GNQ,Africa
17,Eritrea,ER,ERI,Africa
18,Ethiopia,ET,ETH,Africa
19,Gabon,GA,GAB,Africa
20,Gambia,GM,GMB,Africa
21,Ghana,GH,GHA,Africa
22,Guinea,GN,GIN,Africa
23,Guinea-Bissau,GW,GNB,Africa
24,Kenya,KE,KEN,Africa
25,Lesotho,LS,LSO,Africa
26,Liberia,LR,LBR,Africa
27,Libya,LY,LBY,Africa
28,Madagascar,MG,MDG,Africa
29,Malawi,MW,MWI,Africa
30,Mali,ML,MLI,Africa
31,Mauritania,MR,MRT,Africa
32,Mauritius,MU,MUS,Africa
33,Mayotte,YT,MYT,Africa
34,Morocco,MA,MAR,Africa
35,Mozambique,MZ,MOZ,Africa
36,Namibia,None,NAM,Africa
37,Niger,NE,NER,Africa
38,Nigeria,NG,NGA,Africa
39,Réunion,RE,REU,Africa
40,Rwanda,RW,RWA,Africa
41,"Saint Helena, Ascension and Tristan da Cunha",SH,SHN,Africa
42,Sao Tome and Principe,ST,STP,Africa
43,Senegal,SN,SEN,Africa
44,Seychelles,SC,SYC,Africa
45,Sierra Leone,SL,SLE,Africa
46,Somalia,SO,SOM,Africa
47,South Africa,ZA,ZAF,Africa
48,South Sudan,SS,SSD,Africa
49,Sudan,SD,SDN,Africa
50,Swaziland,SZ,SWZ,Africa
51,"Tanzania, United Republic of",TZ,TZA,Africa
52,Togo,TG,TGO,Africa
53,Tunisia,TN,TUN,Africa
54,Uganda,UG,UGA,Africa
55,Western Sahara,EH,ESH,Africa
56,Zambia,ZM,ZMB,Africa
57,Zimbabwe,ZW,ZWE,Africa